* { 
  box-sizing: border-box;
}
 
 
 body {
  font-family: 'Poppins';
  background-color: #F2F8E5;
}

/* Code sa nav */
*{
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
   color: #F2F8E5;
}
body {
   background: #F2F8E5;
   font-family:  Poppins;
}
header {
   width: 100%;
   height: 80px;
   background: #F38632;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 100px;
 
 
}


.header {
     width:100%; /*width of your image*/
   height:300px; /*height of your image*/

   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
  
}

.my-img {
  width: 100%;
  /* Images default to being inline, inline items cannot have a width, so change to block: */
  display: block;
  /* The following may be needed if there's still a wierd looking 2-3px gap at the bottom of the image in some browsers: */
  vertical-align: bottom;
}


.logo {
   font-size: 28px;
   font-weight: bold;
   color: #fff;
}
.hamburger {
   display: none;
}
.nav-bar ul {
   display: flex;
}
.nav-bar ul li a {
   display: block;
   color: #4C230A;
   font-size: 10px;
   padding: 10px 25px;
   border-radius: 50px;
   transition: 0.2s;
   margin: 0 5px;
}
.nav-bar ul li a:hover {
   color: #F2F8E5;
   background: #280004;
}
.nav-bar ul li a.active {
   color: ##280004;
   background: #F2F8E5;
}
@media only screen and (max-width: 1320px) {
   header {
       padding: 0 50px;
   }
}
@media only screen and (max-width: 1100px) {
   header {
       padding: 0 30px;
   }
}
@media only screen and (max-width: 900px) {
   header {
       padding: 0 30px;
   }
   .hamburger {
       display: block;
	   cursor: pointer;
   }
   .hamburger .line {
       width: 30px;
	   height: 3px;
	   background: #fff;
	   margin: 6px 0;
   }
   .nav-bar {
       height: 300px;
       position: absolute;
	   top: 80px;
	   left: 0;
	   right: 0;
	   width: 100vw;
	   background: #F38632;
	   transition: 0.5s;
	   overflow: hidden;
	    font-size: 20px;
   }
   .nav-bar.active {
       height: 450px;
	
   }
   .nav-bar ul {
       display: block;
	   width: fit-content;
	   margin: 80px auto 0 auto;
	   text-align: center;
	   transition: 0.5s;
	   opacity: 0;
   }
   .nav-bar.active ul {
       opacity: 1;
   }
   .nav-bar ul li a {
       margin-bottom: 10px;
	   color: #280004;
   }
}

section:after {
  content: "";
  display: table;
  clear: both;
}


/* Code sa footer */

footer
{
   position: relative;
   width: 100%;
   height: auto;
   padding: 50px 100px;
   background: #F38632;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   text-decoration: none;
    color:  #F38632;
}
footer .container
{
   color:  #F38632;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   flex-direction: row;
   text-decoration: none;
}
footer .container .sec
{
   margin-right: 30px;
   text-decoration: none;
    color: #F38632;
}
footer .container .sec.aboutus
{
	text-decoration: none;
	width: 40%;  
	 color:  #F38632;
}

footer .container .sec.quickLinks
{
	text-decoration: none;
	color: #4C230A;
	
}
footer .container h2
{
   position: relative;
   color: #381800;
   font-weight: 500;
   margin-bottom: 15px;	
}
footer .container h2:before     
{
   content: '';
   position: absolute;
   bottom: -5px;
   left: 0;
   width: 70px;
   height: 2px;
   background: #A53F2B;
    color:  #F38632;
}
footer p
{
   color: #4C230A;
}
.ul
{
   margin-top: 20px;
   display: flex;
   text-decoration: none;
        color: #F2F8E5;
}
.ul li
{
   list-style: none;
     color: #F2F8E5;
	 text-decoration: none;
}
.sci li a
{
   display: inline-block;
   width: 40px;
   height: 40px;
   background: #4C230A;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   text-decoration: none;
   border-radius: 4px;
   
}
.sci li a:hover
{
   background: #f00;
   color: #F2F8E5;
   text-decoration: none;
}
.sci li a .fa
{
   color: #F2F8E5;
   font-size: 20px;
   text-decoration: none;
}

  

